.ToolbarButton {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    user-select: none;
    outline: none;
    cursor: pointer;
    padding: 0;

    div {
        box-sizing: border-box;
        width: 2rem;
        height: 2rem;
        opacity: 0.5;
        padding: 0.6rem;
        border-radius: 50%;
    }

    &:hover {
        
        div {
            background-color: #0000001f;
            opacity: 1;
        }
    }
}