@use 'sass:color';
@use "../App/colors.scss";

.DomainInfo {
  flex: 1;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: color.adjust(colors.$activeTileForeground, $alpha: -0.5);

  .Hostname {
    flex: 1;
  }

  img {
    width: 0.8em;
    height: 0.8em;
    margin: 0 0.2em;

    &.secure {
      filter: brightness(1) invert(0.7) sepia(0.3) hue-rotate(100deg) saturate(1000%) contrast(0.5);
    }

    &.insecure {
      filter: brightness(1) invert(0.6) sepia(1) hue-rotate(310deg) saturate(1000%) contrast(0.9);
    }
  }
}
