@use 'sass:color';
@use "../App/colors.scss";

.DomainInfo {
  flex: 1;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: color.adjust(colors.$activeTileForeground, $alpha: -0.5);

  flex: 1;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 0px 1px #0000000f;
    height: 20px;
    border-radius: 5px;
    padding: 0 0.5em;
    background: #2f2f2f;
    cursor: pointer;

    &:hover {
      background: #3a3a3a;
    }

  img {
    width: 0.8em;
    height: 0.8em;
    margin: 0 0.2em;

    &.secure {
      filter: brightness(1) invert(0.7) sepia(0.3) hue-rotate(100deg) saturate(1000%) contrast(0.5);
    }

    &.insecure {
      filter: brightness(1) invert(0.6) sepia(1) hue-rotate(310deg) saturate(1000%) contrast(0.9);
    }
  }
}
