.QueryField {
  --height: 2rem;

  color: var(--active-tile-foreground);
  width: 100%;
  display: flex;

  input {
    flex: 1;
    padding: 0 1rem;
    border: none;
    background: transparent;
    color: var(--active-tile-foreground);
    text-overflow: ellipsis;
    outline: none;
    height: var(--height);
    font-size: 1rem;
    line-height: 1rem;
    user-select: unset;
  }

  .Suggestions {
    position: absolute;
    background-color: var(--active-tile-background);
    width: 100%;
    top: var(--height);

    .Suggestion {
      padding: 0 1rem;
      font-size: 1.1rem;
      line-height: 1.5rem;

      &.focused {
        background-color: #292929;
      }

      strong {
        font-weight: 500;
      }

      span {
        opacity: 0.8;
      }
    }
  }
}
