@use "../App/colors.scss";

$height: 2rem;

.QueryField {
  color: colors.$activeTileForeground;
  width: 100%;
  display: flex;

  input {
    flex: 1;
    // width: 100%;
    padding: 0 1rem;
    border: none;
    background: transparent;
    color: colors.$activeTileForeground;
    text-overflow: ellipsis;
    outline: none;
    user-select: none;
    height: $height;
    font-size: 1rem;
    line-height: 1rem;
    user-select: unset;
  }

  .Suggestions {
    position: absolute;
    background-color: colors.$activeTileBackground;
    width: 100%;
    top: $height;

    .Suggestion {
      padding: 0 1rem;
      font-size: 1.1rem;
      line-height: 1.5rem;

      &.focused {
        background-color: #292929;
      }

      strong {
        font-weight: 500;
      }

      span {
        opacity: 0.8;
      }
    }
  }
}
