$activeTileBackground: rgb(57, 57, 57);
$activeTileForeground: white;
$activeTileHighlight: #828282b8;

$inactiveTileForeground: white;
$inactiveTileBackgroundHover: rgb(50, 50, 50);
$inactiveTileHighlight: rgb(93, 93, 93);